@model EntityLayer.Concrete.Student
@{
    ViewData["Title"] = "DersAtama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p>@Model.StudentFirstName</p>
    <p>@Model.</p>
    <p>@Model.StudentFirstName</p>
    <p>@Model.StudentFirstName</p>



